<h1>hi</h1>
<form action = "../create_zodiac">
<div><label>sign</label>
<input type="text" name="symbol">
</div>
<div>
<label>creature</label>
<input type="text" name="animal">
</div>
<div>
<label>fortune</label>
<textarea name="horoscope"></textarea>
</div>
<button class="btn btn-primary">submit</button>
</form>
